@media only screen and (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
    }
   body{
    
    display: flex;
    flex-direction: column;
   }
   .container{
    display: flex;
    flex-direction: column;
   }

   .shape{
    width: 100%;
    height: 70px;
    background-image: linear-gradient(45deg,#3023AE 0%,#FF0099 100%);
   }

   .login_option{
    margin: 15px 0 15px 0;
   }
   .icons{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
   }
   .fa-instagram{
    

    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-facebook-f{
   color:rgb(93, 56, 239);

   
}

.fa-google{
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

     
.left-box{
    border-bottom: 1px solid grey;
   }

   .google-signup {
    height: 25px;
    width: 99%;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    

}
.google-signup a{
    text-decoration: none;
    color: black;
}

.google-signup:hover{
    background-color: rgb(135, 180, 219);
}


h2{
    padding: 20px;
    text-align: center;
}


form{
    background-color: aliceblue;
    width: 100%;
    margin: 5px;
    
    margin-right: 22px;
}


input[type=text],input[type=password],input[type=email],:hover{
    width: 99%;
    height: 25px;
    margin: 3px 0 3px 0;
    padding:3px 0 3px 0;
}


.signin{
    height: 25px;
    width: 98%;
    margin-top: 10px;

    cursor: pointer;
    border-radius: 10px;
    background: linear-gradient(#FF0099 0%,#3023AE 100%);
border-radius: 10px;
    

}

.signin:hover{
    background: rgb(122,50,173);
background: linear-gradient(#3023AE 0%,#FF0099 100%);
}




   }