@media only screen and (min-width: 600px){
    



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
}
body{
    background:linear-gradient(135deg,#71b7e6,#9b59b6) ;
    height: 100vh;
}
body>div{
    
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    
}
.container{
   
    top:20px;
    display: flex;
    
    background-color: white;
}

.left-box{
    box-shadow: 1px -1px white;
    overflow: none;
}
.left-box:hover{
    box-shadow: 1px 1px rgb(218, 216, 216);

}
.left-box p{
    margin: 15px 10px;
    padding: 35px 0px 10px 0px;
}
.shape{
    
    width:200px;
    height: 200px;
    border-radius: 0px 254px 284px 174px / 25px 350px 232px 134px;
    background-image: linear-gradient(45deg,#3023AE 0%,#FF0099 100%);
    
}
h3{
    
    padding: 25px 15px 0 0 ;
}



.icons {
    font-size: 48px;
    width: 100%;
    margin: 2px 2px 2px 2px;
    padding: 12px 72px 20px 20px;
}


.fa-instagram{
    

    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            /* Also define standard property for compatibility */
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-facebook-f{
   color:rgb(93, 56, 239);

   
}

.fa-google{
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}




.icons a{
    margin: 2px;
    padding: 2px;
    color:black
    
}




.right-box{
    
    box-shadow: 1px 1px white;
    
}


.right-box:hover{
    box-shadow: -1px -1px rgb(218, 216, 216);

}
.btn{
    width: 100%;
    
}
.google-signup {
    height: 40px;
    width: 300px;
    margin: 10px 30px;
    cursor: pointer;
    border-radius: 10px;

}

.google-signup:hover{
    background-color: rgb(135, 180, 219);
}


.google-signup a{
    text-decoration:none ;
    color: black;
}
.google-signup a span{
    vertical-align: middle;
}

h2{
    text-indent: 160px;
}
form{
    padding: 0 0 0 10px;
    background-color: aliceblue;
}

.name{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

input[type=text]{
height: 25px;
margin: 4px;
}

.email-field{
    margin:10px 0;
}

input[type=email]{
    width: 300px;
    height: 25px;
    
}
.password-field{
    margin:10px 0;
}

input[type=password]{
    width: 300px;
    height: 25px;
    
}



.signin{
    height: 40px;
    width: 300px;
    margin: 10px 10px;
    cursor: pointer;
    color: white;
    background: rgb(122,50,173);
background: linear-gradient(#FF0099 0%,#3023AE 100%);
border-radius: 10px;
}

.signin:hover{
    background: rgb(122,50,173);
background: linear-gradient(#3023AE 0%,#FF0099 100%);
}




}


